# Python
__pycache__/
*.py[cod]

# Odoo
*.log

# Environnement virtuel
venv/
.venv/

# Configuration locale
.env

# Éditeurs
.vscode/
.idea/

# Fichiers temporaires
*.tmp
*.swp
__pycache__/
*.pyc
.vscode/
